* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Apply a background color to the body */
body {
    background-image: url('background dict.jpg');
}
/* Style the header and navigation bar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 0px;
}

.navbar .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* Adjust the logo position */
.logo {
    position: relative;
    top: -12px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

/* Style the main content */
main {
    padding: 20px;
}

.welcome-container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: white;
}

h2 {
    color: white;
    margin-top: 20px;
}

/* Style the homepage content */
.homepage .content {
    display: flex;
    height: 85%;
    z-index: 3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homepage .content h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

.homepage .content .text {
    margin-bottom: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
    text-shadow: 0px 0px 10px rgba(245, 242, 242, 0.3);
}

/* Additional styles for smaller screens */
@media (max-width: 768px) {
    .homepage .content h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .homepage .content .text {
        font-size: 17px;
    }
}

/* Style the main content */
main {
    padding: 20px;
}

/* Style the form container */
.container {
    background-color: #fff;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}
.container {
    background-color: #fff;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the buttons */
.btn {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: relatve;
    margin-left:100px;
    justify-content: cener;
    align-items: cener;


}

.btn-default {
    background-color: #333;
}

.btn:hover {
    background-color: #929fa8;
}

/* Style the table */
#fileTable {
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    justify-content: center;
    width: 55%;
    margin: 0 auto;
    margin-top: 35px;
}

#fileTable th, #fileTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#fileTable th {
    background-color: #333;
    color: #fff;
}